# For production build of ldap on BSD.
[python-ldap]
recipe = zc.recipe.egg:custom
egg = python-ldap
include-dirs = 
    /usr/local/include/sasl
    /usr/local/include
    /usr/include
library-dirs = 
    /usr/local/lib/sasl2
    /usr/local/lib
    /usr/lib
rpath = 
    /usr/local/lib/sasl2
    /usr/local/lib
    /usr/lib

[LDAPUserFolder]
recipe = zc.recipe.egg:custom
egg = Products.LDAPUserFolder
include-dirs = 
    /usr/local/include/sasl
    /usr/local/include
    /usr/include
library-dirs = 
    /usr/local/lib/sasl2
    /usr/local/lib
    /usr/lib
rpath = 
    /usr/local/lib/sasl2
    /usr/local/lib
    /usr/lib
