[buildout]
extends = 
    http://dist.plone.org/release/4.1b2/versions.cfg
    versions.cfg
    sources.cfg
extensions = 
    buildout.dumppickedversions
    buildout.threatlevel
    mr.developer

versions = versions
sources-dir = sources
eggs =
    Pillow
    Products.PloneOrg

# get us a user and group variable
[env]
recipe = gocept.recipe.env
[grp]
recipe = collective.recipe.grp
