# This config provides an alternative method to the conf/get_data
# shell script to get plone.org data. To use it, just extend in
# conf/database.cfg in buildout.cfg and run bin/buildout.
[buildout]
extends = develop.cfg
parts += 
    database
    catalog

[database]
recipe = collective.recipe.rsync
source = plone.org:/srv/plone.org/var/filestorage/Data.fs
target = var/filestorage/Data.fs

[catalog]
recipe = collective.recipe.rsync
source = plone.org:/srv/plone.org/var/filestorage/CatalogData.fs
target = var/filestorage/CatalogData.fs
