[buildout]
extends = 
    ../buildout.cfg
    versions.cfg
extensions +=
    mr.developer
    buildout.dumppickedversions
#    buildout.bootstrap

bin-directory = ../bin
develop-eggs-directory = ../develop-eggs
installed = ../.installed.cfg
parts-directory = ../parts
eggs-directory = ${buildout:directory}/eggs

parts += 
    zopepy
    omelette

sources-dir = ../src
auto-checkout = 
    Products.CacheSetup
    Products.ExternalStorage
    Products.FoundationMember
    Products.PloneHelpCenter
    Products.PloneSoftwareCenter
    Products.PolicyHTTPCacheManager
    collective.psc.blobstorage
    collective.psc.externalstorage
    collective.psc.mirroring

develop = ../
eggs +=
    Products.DocFinderTab
    Products.PDBDebugMode
    Products.PTProfiler
    Products.FSDump

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
packages = ./

[sources]
Products.CacheSetup = svn http://svn.plone.org/svn/collective/Products.CacheSetup/branches/matthewwilkes-plone4compat/
Products.ExternalStorage = svn https://svn.plone.org/svn/collective/Products.ExternalStorage/trunk
Products.FoundationMember = svn https://svn.plone.org/svn/plone/Products.FoundationMember/trunk
Products.PloneHelpCenter = svn https://svn.plone.org/svn/collective/Products.PloneHelpCenter/trunk
Products.PloneSoftwareCenter = svn https://svn.plone.org/svn/collective/Products.PloneSoftwareCenter/trunk
Products.PolicyHTTPCacheManager = svn http://svn.plone.org/svn/collective/Products.PolicyHTTPCacheManager/trunk/
collective.psc.blobstorage = svn https://svn.plone.org/svn/collective/collective.psc.blobstorage/trunk
collective.psc.externalstorage = svn https://svn.plone.org/svn/collective/collective.psc.externalstorage/trunk
collective.psc.mirroring = svn https://svn.plone.org/svn/collective/collective.psc.mirroring/trunk

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[instance]
var = ${buildout:directory}/../var
zope-conf-additional =
    <zodb_db catalog>
        mount-point /plone.org/portal_catalog
        container-class Products.CMFPlone.CatalogTool.CatalogTool
        cache-size 10000
        <filestorage 2>
            path ${instance:var}/filestorage/CatalogData.fs
        </filestorage>
    </zodb_db>
    <environment>
        DISABLE_PTS 1
        TEMP ${buildout:directory}/tmp
    </environment>

eggs += 
    Products.PloneOrg

# 16:17 < jonstahl> ok, related question, aclark: is it possible to sanity-check and get 
# http://plone.org/products/collective.contentrules.mailtogroup installed so I can send notifications to, say 
# the group of plone.org content reviewers?
# http://pypi.python.org/pypi/collective.contentrules.mailtogroup
# http://pypi.python.org/pypi/collective.contentrules.mailtolocalrole

    collective.contentrules.mailtogroup
    collective.contentrules.mailtolocalrole

zcml = 

    collective.contentrules.mailtogroup
    collective.contentrules.mailtolocalrole
