[buildout]
extends =
    develop.cfg
    xdv.cfg

# This parts section must not extend any other parts, or LDAP will fail.
parts +=
    xdv
    nginx
    nginx.conf
    mime.types
    plone.org.conf
    default.xsl
    wide.xsl

[plone.org.conf]
# nginx vhost configuration. listens on 5021, passes to Plone on 8080
recipe = collective.recipe.template
vhost = plone.org
virtual-host = /VirtualHostBase/http/localhost:5021/plone.org/VirtualHostRoot
manage-virtual-host = /VirtualHostBase/http/manage.plone.org:80/plone.org/VirtualHostRoot
upstream = server 127.0.0.1:8080;
input = templates/plone.org.conf.in
output = etc/vhosts/plone.org.conf
listen = 5021
robots-blocker = # No blocking override in production website
manage-ip-port = 127.0.0.1:8080
