
# BSD

[buildout]
parts += haproxy-install

[haproxy]
recipe = hexagonit.recipe.cmmi
configure-command = cp -f Makefile.bsd Makefile
make-targets = 
keep-compile-dir = true
ignore-existing = true
url = http://haproxy.1wt.eu/download/1.4/src/haproxy-1.4.8.tar.gz

[haproxy-install]
recipe = plone.recipe.command
command = cp ${buildout:directory}/parts/haproxy__compile__/haproxy-1.4.8/haproxy ${buildout:directory}/bin
update-command = ${haproxy-install:command}

## OS X
#[haproxy]
#recipe = plone.recipe.haproxy

[haproxy-conf]
recipe = collective.recipe.template
input = ${buildout:directory}/templates/haproxy.conf.in
output = ${buildout:directory}/etc/haproxy.conf
