[buildout]
auto-checkout = 
#    Products.ExternalStorage
#    Products.FoundationMember
#    Products.PloneHelpCenter
#    Products.PloneServicesCenter
#    Products.PloneSoftwareCenter
#    collective.portlet.collectionmultiview
#    collective.psc.blobstorage
#    collective.psc.externalstorage
#    collective.psc.mirroring
#    contentratings
#    ploneorg.kudobounty

always-checkout = true
    
[sources]
Products.ExternalStorage = svn https://svn.plone.org/svn/collective/Products.ExternalStorage/trunk
Products.FoundationMember = svn https://svn.plone.org/svn/plone/Products.FoundationMember/trunk
Products.PloneHelpCenter = svn https://svn.plone.org/svn/collective/Products.PloneHelpCenter/trunk
Products.PloneServicesCenter = svn https://svn.plone.org/svn/collective/Products.PloneServicesCenter/trunk
Products.PloneSoftwareCenter = svn https://svn.plone.org/svn/collective/Products.PloneSoftwareCenter/trunk
Products.PolicyHTTPCacheManager = svn http://svn.plone.org/svn/collective/Products.PolicyHTTPCacheManager/trunk/
collective.psc.blobstorage = svn https://svn.plone.org/svn/collective/collective.psc.blobstorage/trunk
collective.psc.externalstorage = svn https://svn.plone.org/svn/collective/collective.psc.externalstorage/trunk
collective.psc.mirroring = svn https://svn.plone.org/svn/collective/collective.psc.mirroring/trunk
collective.portlet.collectionmultiview = svn https://svn.plone.org/svn/collective/collective.portlet.collectionmultiview/trunk
contentratings = svn https://svn.plone.org/svn/collective/contentratings/trunk/
ploneorg.kudobounty = svn https://svn.plone.org/svn/collective/ploneorg.kudobounty/trunk
