/* @override 
	http://dev.plone.org/plone.css
	http://plone.org/plone.css
	http://plone.org/portal_css/Sunburst%20Theme/newplone-cachekey2857.css
	http://plone.org/portal_css/Sunburst%20Theme/newplone-cachekey2635.css
	http://plone.org/portal_css/Sunburst%20Theme/newplone-cachekey3706.css
	http://plone.org/portal_css/Sunburst%20Theme/newplone-cachekey8529.css
	http://plone.org/portal_css/Sunburst%20Theme/newplone-cachekey7531.css
	http://plone.org/portal_css/Sunburst%20Theme/newplone-cachekey0928.css
	http://plone.org/portal_css/Sunburst%20Theme/newplone-cachekey4480.css
	http://plone.org/portal_css/Sunburst%20Theme/newplone-cachekey1701.css
	http://plone.org/portal_css/Sunburst%20Theme/newplone-cachekey6025.css
	http://plone.org/portal_css/Sunburst%20Theme/newplone-cachekey9536.css
	http://plone.org/portal_css/Sunburst%20Theme/newplone-cachekey7326.css
	http://plone.org/portal_css/Sunburst%20Theme/newplone-cachekey9869.css
	http://plone.org/portal_css/Sunburst%20Theme/newplone-cachekey3263.css
*/

/* @group CSS Reset */

/* Remove implicit browser styles to have a neutral starting point:
   - No elements should have implicit margin/padding
   - No underline by default on links (we add it explicitly in the body text)
   - When we want markers on lists, we will be explicit about it, and they render inline by default
   - Browsers are inconsistent about hX/pre/code, reset
   - Linked images should not have borders
   */

* {
	margin: 0;
	padding: 0;
}

* :link,:visited {
	text-decoration: none;
}

* ul,ol {
	list-style: none;
}

* li {
	display: inline;
}

* h1,h2,h3,h4,h5,h6,pre,code {
	font-size: 1em;
}

* a img,:link img,:visited img {
	border: none;
}

a {
	outline: none;
}

table {
	border-spacing: 0;
}

img {
	vertical-align: middle;
}

/* @end */

/* @group Basics */

body {
	font: 100% Arial, FreeSans, sans-serif;
	background: White;
	color: Black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
	font-weight: bold;
	line-height: 125%;
	color: Black;
}

h1, h2 {
	letter-spacing: -1px;
}

h1 {
	font-size: 1.625em;
/*

26px equiv */
}

h2 {
	font-size: 1.375em;
/*

22px equiv */
}

h3 {
	font-size: 1.125em;
/*

18px equiv */
}

h4 {
	font-size: 0.875em;
/*

14px equiv */
}

h5 {
	font-size: 0.75em;
/*

12px equiv */
}

h6 {
	font-size: 0.625em;
/*

10px equiv */
}

p {
	font-size: 0.75em;
/*

12px equiv */
}

a:link, a:visited {
	color: #205c90;
}

a:link:hover,
a:visited:hover {
	color: #75ad0a;
}

dt {
	font-weight: bold;
}

input {
	font-family: "Lucida Grande", Arial, FreeSans;
}

/* @end */

/* @group Grid */

/* Grid classes, these can also be nested */

.grid-row {
	float: left;
	width: 100%;
	display: block;
	position: relative;
}

.grid-cell {
	position: relative;
	float: left;
	left: 100%;
}

/* Widths, these are abstracted out so that pixel-based layouts or other
   similar approaches can be retrofitted without changing the markup,
   or if you want to apply rules like the Golden Ratio to your layouts */

.width-full {
	width: 100%;
}

.width-half {
	width: 50%;
}

.width-quarter {
	width: 25%;
}

.width-three-quarters {
	width: 75%;
}

.width-third {
	width: 33.33%;
}

.width-two-thirds {
	width: 66.67%;
}

/* Positioning classes, these are subtracting from a rightmost position */

.position-leftmost {
	margin-left: -100%;
}

.position-third {
	margin-left: -66.67%;
}

.position-two-thirds {
	margin-left: -33.33%;
}

.position-quarter {
	margin-left: -75%;
}

.position-half {
	margin-left: -50%;
}

.position-three-quarters {
	margin-left: -25%;
}

/* @end */

/* @group Wrappers */

html, body {
	/* Sticky footer */
	height: 100%;
}

#outer-wrapper {
	/* Sticky footer w/IE fixes*/
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -16em;
}

#inner-wrapper {
	border-top: 11px solid #329fd7;
	padding: 0 1em 2em;
}

#content-wrapper {
	width: 910px;
	/* 937px; */
	margin: 1em auto 0;
}

#portal-logo img {
    margin: 24px 0 20px 13px;
}

/* @end */

/* @group Navigation/search */

#nav {
	/* Should be named header, but conflicts with the accordion.js for now */
	width: 910px;
	margin: 0 auto;
	font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
}

#main-nav {
	font-size: 0.75em;
	line-height: 3em;
}

#main-nav li:first-child a {
	border-left: none;
}

#sub-nav {
	font: 13px/30px "Helvetica Neue", Arial, FreeSans;
	margin-right: 210px;
}

#sub-nav li a {
	border-right: none;
	color: #000000;
}

#sub-nav li a:hover,
#sub-nav li a.selected {
	color: #75ad0a;
}

#portal-personaltools {
	margin-right: .5em;
}

#portal-personaltools dt.actionMenuHeader a:after {
	content: " ▼";
}

#portal-personaltools dd.actionMenuContent ul li a {
	color: White;
}

#portal-personaltools dd.actionMenuContent ul li a:hover {
	background-color: White;
}

#nav-bar {
    clear: both;
    background: url(nav_bg.png) repeat-x left bottom;
    border-top: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #a3a3a3;
    border-left: 1px solid #dedede;
    font-family: Arial, sans-serif;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

ul.navigation li a,ul.navigation li a:visited {
	padding: .9em 1em;
	color: #646464;
	font-weight: bold;
	border-right: 1px solid #c5c5c5;
	white-space: nowrap;
}

ul.navigation li a:hover {
	color: #75ad0a;
}

ul.navigation li.selected a,
ul.navigation li.active a {
	color: #75ad0a;
}

#search {
	float: right;
	position: relative;
	margin-top: 27px;
}

#search-site {
	background: transparent url(search.png) no-repeat;
	border: none;
	height: 26px;
	width: 213px;
	padding-left: 15px;
	color: #6e6f71;
}

#user {
	font-size: 0.75em;
	width: auto;
	float: right;
	line-height: 3em;
	white-space: nowrap;
	padding-right: 10px;
}

#user a {
	color: #272727;
	font-weight: bold;
	padding: 2px;
}

#user a:hover {
	color: #75ad0a;
}

#user #user-name {
    color: #32618b;
    font-weight: normal;
}

/* @end */

/* @group Splash pages */

div.splash {
	font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
	background-color: #205c90;
	color: White;
	margin-bottom: 1em;
	padding: 0.5em 1.5em 1em;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
}

#content div.splash h1 {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-size: 1.75em;
	font-weight: 300;
	color: White;
	letter-spacing: 0;
	margin-bottom: .5em;
}

#content div.splash h2,
#content div.splash h3 {
	color: White;
	letter-spacing: 0;
	font-weight: normal;
}

#content div.splash a {
	color: White !important;
	border: none;
	font-weight: bold;
}

#content div.splash a.pointer {
	background: transparent 0 -115px url(//plone.org/images/sprite-ploneorg.png) no-repeat;
	padding-left: 16px;
	font-size: 115%;
}

div.pullout {
	background-color: #87b829;
	padding-left: 2.5em;
	margin-left: -1em;
}

div.pullout ul {
	margin: 0 !important;
}

div.pullout li {
	display: block;
	list-style: none;
}

/*TODO: #sidebar & .sidebar need to be consolidated*/

#sidebar {
	padding-top: 2em;
}

div.sidebar {
	padding-top: 0.5em;
	margin-left: 1em;
}

#sidebar-frontpage {
	margin-left: 0;
}

#content div.sidebar h2 {
	margin: 0;
}

#content div.sidebar h3 {
	margin: 0;
	font-size: 1em;
}

#content div.sidebar ul,
#content div.sidebar ol {
	list-style: none;
	margin: 0;
}

#content div.sidebar ul li {
	margin-bottom: 0;
}

#content div.sidebar ul li a {
	line-height: 36px;
	font-size: 18px;
	display: block;
	border-top: 1px solid #eee;
	border-bottom: none;
	font-weight: bold;
	background: url(//plone.org/images/sprite-ploneorg.png) no-repeat;
	background-position: 0 -441px;
	padding-left: 16px;
	letter-spacing: -1px;
}

div.sidebar ol li {
	line-height: 18px;
	display: block;
	margin-bottom: 0.5em;
	padding-top: 0.5em;
	clear: both;
	list-style: none;
}

div.sidebar ol li a {
	font-weight: bold;
	display: block;
	border: none !important;
}

img.book-cover {
	float: left;
	display: block;
	padding: 2px;
	margin: 5px 15px 10px 0;
}

/* @group Page-specific splash styles */

#splash-frontpage {
	min-height: 15.5em;
	margin-right: 1em;
	background: #205c90 0 -23px url(http://plone.org//images/frontpage-image.png) no-repeat;
}

#splash-frontpage a {
	float: right;
	margin-top: 3.5em;
}

#splash-downloads {
	height: 11em;
}

#sidebar-downloads {
	height: 11em;
}

#splash-download-package {
	background: transparent 0 -495px url(//plone.org/images/sprite-ploneorg.png) no-repeat;
	height: 130px;
	margin-left: 2em;
	position: relative;
	top: -60px;
	left: -30px;
	width: 140px;
}

#splash-downloads h1,
#splash-downloads p {
	text-align: right;
	margin-right: 20px;
}

#splash-download-plone {
	background: transparent 0 -30px url(//plone.org/images/sprite-ploneorg.png) no-repeat !important;
	height: 58px;
	width: 310px;
	margin: 10px 0 10px 260px;
	display: block;
	float: right;
	font-size: 1em !important;
	padding-top: 1em;
	padding-left: 1em;
}

#splash-documentation {
	padding-left: 14em;
	height: 15em;
	background: #205c90 2.5em 3.5em url(/docs-splash.png) no-repeat;
}

#sidebar-documentation {
	height: 15em;
}

#splash-support {
	min-height: 13em;
	background: #205c90 url(support-sprite.png) no-repeat 20em 9em;

}
#splash-support p {
	font-size: 100%;
}

#sidebar-chat {
	height: 13em;
	margin-bottom: 2em;
}

#sidebar-chat-bubble {
	color: #87B829;
	margin-left: 7em;
	margin-top: 1.4em;
	font-size: 200%;
}

.carousel-text {
    bottom: auto !important;
    background: transparent !important;
}

/* @end */

/* @end */

/* @group Listings */

/* @group Pane */

div.pane {
	background-color: #eee;
	padding: 0.7em;
	clear: left;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
}

div.pane h2 {
	font-size: 1.1em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	margin: 0 !important;
}

a.versions {
	font-size: 12px;
	color: #555;
	padding: 2px;
}

a.versions:hover {
	background-color: #666;
	color: White;
}

div.pagesearch {
	float: right;
	font-size: 11px;
}

#categories {
	background-color: white;
	padding: 0 0.7em 0.7em 0.7em;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
}

#categories h3 {
	border-top: 1px solid #ccc;
	margin-top: 0;
}

#categories h3:first-child {
	border-top: none;
}

#categories h3 a {
	display: block;
	padding: 0.5em 0 0 0;
	border: none !important;
}

#categories h3.selected a {
	color: black;
	cursor: default;
}

#categories h4 {
	font-size: 16px;
}

#categories ul {
	margin-left: 0 !important;
}

#categories ul li {
	list-style: none;
}

/*div.collapsible h3 a:before {
	content: "▶ ";
}

div.collapsible h3.selected a:before {
	content: "▼ ";
}

div.collapsible p {
	font-size: 11px;
}*/

/* @group Horizontal category listing */

div.pane.horizontal #categories {
	padding: 0 !important;
}

#categories ul.horizontal {
	position: relative;
}
#categories ul.horizontal li {
	width: 25%;
	border-left: 1px solid #eee;
	height: 18em;
}
#categories ul.horizontal li h2 {
	padding: 0;
}
#categories ul.horizontal li h2 a {
	background: #205c90;
	display: block;
	padding: 1em;
	color: White !important;
	letter-spacing: 0;
	min-height: 2.5em;
	background: url(support-sprite.png) #205c90 no-repeat top left;
}
#categories ul.horizontal li:first-child h2 a {
	border-radius: 0.5em 0 0 0;
	-webkit-border-radius: 0.5em 0 0 0;
	-moz-border-radius: 0.5em 0 0 0;
}
#categories ul.horizontal li:last-child h2 a {
	border-radius: 0 0.5em 0 0;
	-webkit-border-radius: 0 0.5em 0 0;
	-moz-border-radius: 0 0.5em 0 0;
}
#categories ul.horizontal li p {
	padding: 1em;
}

/* @end */


/* @group Support section positioning + icons */

#categories ul.horizontal li.commercial {
	position: relative;
}

#categories ul.horizontal li.usergroup {
	position: absolute;
	top: 0;
	left: 25%;
}

#categories ul.horizontal li.training {
	position: absolute;
	top: 0;
	left: 50%;
}

#categories ul.horizontal li.bugs {
	position: absolute;
	top: 0;
	left: 75%;
}

#categories ul.horizontal li.commercial a {
	background-position: 165px -85px;
}

#categories ul.horizontal li.usergroup a {
	background-position: 165px -182px;
	
}

#categories ul.horizontal li.training a {
	background-position: 165px -272px;
}

#categories ul.horizontal li.bugs a {
	background-position: 165px -350px;
}

/* @end */

ul.topic {
	font-size: 12px;
	margin-left: 0 !important;
}

ul.topic li {
	display: inline-block !important;
	vertical-align: top;
	width: 45%;
	margin: 0 0 0 2em;
}

ul.topic li.footer {
	width: 90%;
}


/* @end */

/* @group Downloads tile */

/* TODO: Refactor these */

#sort-by {
	margin-left: .7em;
	font-size: .7em;
}

#numreleases {
	font-size: .8em;
	border-bottom: 1px solid #ccc;
	display: block;
	padding: 5px 0;
}

#product-details {
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
}

.product-leadin {
	display: block;
	font-size: .9em;
	color: #666;
}

.company-logo {
	float: right;
	padding: 1em 0.5em;
}

/* @end */

/* @group Box */

div.box {
	height: 40em;
	border: 1px solid #e1e1e1;
	padding: 9px 12px;
	margin-left: -1px;
	font-size: 12px;
	overflow: hidden;
}

div.box h1 {
	margin: -0.625em -1em !important;
	padding: 0 1em;
	line-height: 2em;
	background: #eee url(//plone.org/images/sprite-ploneorg.png) repeat-x;
	background-position: 0 -163px;
	font-size: 120%;
}

div.box p {
	margin: 0 -1em;
	padding: 10px -1em;
}

#content div.box ul {
	margin: 0;
	margin-top: 0.5em;
}

div.box li {
	list-style: none;
	display: block;
	margin: 0 -1em;
	padding: 1em;
	height: 6em;
}

div.box li:nth-child(even) {
	background-color: #fafafa;
}

#events {
	margin-right: 1.4em;
}

#current {
	/* TODO: this needs to be a sprite element*/
	/* background: 150px 380px url(http://plone.org/images/cogs.png) no-repeat;*/	
	border: none;
}

#current h1 {
	display: none;
}

div.box div.sources {
	font-size: 11px;
}

div.box li.spotlight {
	color: #666;
	letter-spacing: -1px;
	font: bold 1.4em/1.4em "Helvetica Neue", Arial, FreeSans, sans-serif !important;
	margin-top: -1em;
}

div.box li.spotlight strong,
div.box li.spotlight a {
	color: black !important;
}

div.box li.spotlight a:hover {
	color: #75ad0a !important;
}

#content div.box a {
	border: none;
}

div.box .info {
	display: block;
	text-align: right;
	color: #888;
}

div.box .add {
	float: right;
}

/* @end */

a.link-parent {
	font-size: 11px;
}


/* @end */

/* @group Accordion */

#accordion,
dl.portlet {
	border: 1px solid #eee;
	background-color: #f6f6f6;
}

#content #accordion h2 {
	cursor: pointer;
}

#content #accordion h2.current {
	cursor: default;
}

#content #accordion h2,
dl.portlet dt {
	background-color: #76AD17;
	border-bottom: 1em solid #63A100;
	line-height: 2em;
	height: 1em;
	padding: 0 .5em;
	margin: -1px -1px 0 -1px;
	color: White;
	font-size: 1em;
	letter-spacing: 0;
}

#accordion h2.current,
#accordion h2.selected {
	cursor: inherit;
}

#content #accordion h2.current {
	cursor: default;
}

#accordion h2.current:before,
#accordion h2.selected:before {
	content: "▼ ";
}

#accordion h2:before {
	content: "▶ ";
}

#accordion div {
	padding: 10px;
	font-size: 12px;
}

#accordion li a:before {
	content: "→ ";
}

#accordion dl dt a {
	color: #205c90 !important;
}

#accordion dl {
	margin-top: 0;
	line-height: 1.5em;
}

#accordion dt {
	font-weight: bold;
	font-size: 12px;
}

#content #accordion dd {
	margin-bottom: 0.3em;
}

#download-link {
	display: block;
	width: 123px;
	height: 51px;
	line-height: 1.25em;
	background: 0 -495px url(//plone.org/images/sprite-ploneorg.png) no-repeat;
	color: white !important;
	border-bottom: none !important;
	font-weight: bold;
	padding: 142px 30px 0 14px;
	margin: 0 auto;
}

/* @end */

/* @group Portlets */

dl.portlet {
	margin: 0 0 1em 1em;
}

dl.portlet dt {
	padding-left: 1em;
}

dl.portlet dt a:link,
dl.portlet dt a:visited,
dl.portlet dt a:hover {
	color: White !important;
	border: none !important;
}

dl.portlet dd {
	font-size: 0.825em;
	padding: 1em 2em;
}

div.managePortletsLink {
	text-align: center;
	padding: 1em;
	font-size: 0.75em;
}

#portlet-prefs strong {
	margin-left: 2em;
}

#dashboard-portlets1,
#dashboard-portlets2,
#dashboard-portlets3,
#dashboard-portlets4 {
	display: inline-block;
}

/* @end */

/* @group Navigation portlet */

ul.navTree {
	margin-left: 0 !important;
}

dl.portletNavigationTree dd {
	padding: 1em 0;
}

dl.portletNavigationTree dd a {
	display: block;
}

dl.portletNavigationTree li {
	display: block;
	list-style: none;
}

dl.portletNavigationTree li a {
	border: none !important;
}

dl.portletNavigationTree li a span {
	display: block;
	padding: 0.25em 0;
}

dl.portletNavigationTree .navTreeCurrentItem {
	background: #ddd;
}

dl.portletNavigationTree li.navTreeItemInPath {
	background: #eee
}

dl.portletNavigationTree li a.navTreeCurrentItem span {
	color: black;
}

dl.portletNavigationTree ul {
	margin: 0 !important;
}

dl.portletNavigationTree .navTreeLevel0 li a {
	padding-left: 2em;
}

dl.portletNavigationTree .navTreeLevel1 li a {
	padding-left: 3em;
}

dl.portletNavigationTree .navTreeLevel2 li a {
	padding-left: 4em;
}

dl.portletNavigationTree .navTreeLevel3 li a {
	padding-left: 5em;
}

/* @end */

/* @group Content Area */

#content {
	line-height: 1.5em;
	clear: both;
}

#content h1,
#archetypes-fieldname-title input {
	margin-top: 0.5em;
}

#content h1.documentFirstHeading {
	margin-top: 0;
}

#content h2,
#content h3,
#content h4 {
	margin-top: 0.5em;
	color: #444;
}

#content p,
#content ul,
#content ol,
#content table,
#content dl,
#content dt,
#content dd,
dl.portlet p,
dl.portlet ul {
	margin-bottom: 1em;
	line-height: 1.5em;
	font-size: 13px;
}

/*#content p,
#content dl,
#content ul,
#content ol {
	text-align: justify;	
}*/

#content a:link,
dl.portlet a:link {
	color: #205c90;
	border-bottom: 1px solid #ccc;
}

#content a:link:hover,
dl.portlet a:link:hover {
	color: #75ad0a;
}

#content a:visited,dl.portlet a:visited {
	color: #427597;
	border-bottom: 1px solid #ccc;
}

#content a:target {
	background-color: #ffb !important;
}

#content img {
	max-width: 100%;
}

#content ul,
dl.portlet ul {
	list-style-type: disc;
	margin-left: 2em;
}

#content ol,
dl.portlet ol {
	list-style-type: decimal;
	margin-left: 2em;
}

#content li,
dl.portlet li {
	margin-bottom: 0.25em;
	line-height: 1.5em;
	display: list-item;
}

#content dt {
	font-weight: bold;
	margin-bottom: 0;
	margin-right: 0;
}

#content dd {
	margin: 0 0 1em 1em;
}

#content pre {
	background-color: #222;
	color: White;
	font-family: Consolas, Inconsolata, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
	padding: 10px;
	overflow-x: auto;
	font-size: 90%;
	margin-bottom: 1em;
	line-height: 1em;
}

#content code {
	font-family: Monaco, Consolas, Inconsolata, "Courier New", monospace;
}

#content blockquote {
	border-left: 3px solid #888;
	padding-left: 0.5em;
}

#content div.documentByLine {
	margin-bottom: 10px;
	font-size: 11px;
	display: block;
	margin-top: -0.5em;
	color: gray;
}

#content .discreet,
#sidebar .discreet {
	color: #666;
	font-size: 11px;
	font-weight: normal;
}

#content .visualHighlight {
	background-color: #ffb;
}

#content pre .visualHighlight {
	color: #222;
}

#content .pullquote {
	padding: 0 1em 0 1em;
	margin: 0 0 1em 1em;
	font-weight: bold;
	float: right;
	width: 35%;
	clear: right;
	border-left: 1px solid #888;
	color: #888;
}

#content .callout {
	color: #666;
	padding: 1em;
	border: 1px solid #666;
	border-style: solid none;
	clear: both;
}

#content table {
	width: 100%;
	text-align: left;
}

#content .documentDescription,
#description {
	color: gray !important;
	font: bold 1em "Helvetica Neue", Arial, FreeSans, sans-serif !important;
	margin-left: 0;
	margin-bottom: 1em;
}

#content img.tileImage,
#content div.newsImageContainer {
	float: right;
	margin: 0 1em 0.5em 1em;
}

#content div.newsImageContainer {
	width: 200px;
}

#content div.newsImageContainer p.discreet {
	margin: 0;
	padding: 0.5em;
	background-color: #666;
	background-color: rgba(40,40,40,0.7);
	color: White;
	font-weight: bold;
	position: relative;
	top: -3em;
}

/* @end */

/* @group Edit bar */

#content-views {
	margin: 1em 0;
}

#edit-bar {
	width: 910px;
	margin: 0 auto;
	background-color: #75ad0a;
	clear: both;
}

#edit-menu ul {
	padding-left: .5em;
	border-top: 4px solid #76ad17;
	background-color: #76ad17;
	border-bottom: 1em solid #63a100;
	line-height: 2em;
	height: 1em;
}

#edit-menu li a {
	color: White;
	font-weight: bold;
	padding: 0.5em;
	line-height: 2em;
}

#edit-menu li a:hover, 
#edit-menu li.selected a {
	color: #75ad0a;
	background-color: White;
	border-top: 1px solid #75ad0a;
	line-height: 2em;
}

#edit-menu li:hover a, 
#edit-menu li.selected a {
	color: #75ad0a;
}

#action-menu {
	
}

#action-menu ul li a {
	color: White;
	font-weight: bold;
}

#action-menu ul li a img {
	display: none;
}

/* @end */

/* @group Data tables */

table.listing {
	width: 100%;
	border-spacing: 0;
}

table.listing td, 
table.listing th {
	padding: 0.5em;
	vertical-align: top;
}

table.listing td.listingCheckbox, 
table.listing th.listingCheckbox {
	text-align: center;
}

table.listing thead th {
	text-align: left;
	color: #666;
	border-bottom: 1px solid #e7e7e7;
	padding-left: 0;
}

table.listing tbody th {
	font-weight: bold;
}

table.listingtbody tr {
	text-align: left;
}

table.listing tbody tr.odd {
	background: #f9f9f9;
}

table.listing tbody tr td {
	background: transparent;
}

table.listing tbody tr.odd td {
	background: #f9f9f9;
}

table.listing a {
	border: none !important;
}

div.listingBar {
	font-size: 13px;
	margin: 1em 0;
}

div.listingBar .next {
	display: inline-block;
	float: right;
}

div.listingBar .previous {
	display: inline-block;
}

div.listingBar a {
	display: inline-block;
	padding: 0.25em 0.5em;
	border: 1px solid #ccc;
}

div.listingBar a:hover {
	color: White !important;
	background-color: #329fd7 !important;
	border-color: #329fd7 !important;
}

/* @end */

/* @group Status messages */

dl.portalMessage {
	font-size: 12px;
	background-color: #ffffe3;
	border: 1px solid #996;
	margin-bottom: 1em;
}

dl.portalMessage a {
	color: black !important;
	border: none !important;
	text-decoration: underline;
}

dl.portalMessage dt {
	background-color: #996;
	font-weight: bold;
	float: left;
	margin: 0 0.5em 0 0;
	padding: 0.5em 0.75em;
	color: White;
	line-height: 1.25em;
}

dl.portalMessage dd {
	padding: 0.5em 0.5em;
	margin: 0;
	line-height: 1.25em;
}

dl.warning {
	border-color: #d80;
}

dl.warning dt {
	background-color: #d80;
}

dl.error {
	border-color: #d00;
}

dl.error dt {
	background-color: #d00;
}

dl.warning {
	border-color: #d80;
}

dl.warning dd {
	background-color: #fd7;
}

dl.error {
	border-color: #d80;
}

dl.error dd {
	background-color: #fd7;
}

/* @end */

/* @group Editing */

/* @group Pulldown menus */

.contentActions {
	background-color: white;
	text-align: right;
	padding: 0 0 0 1em;
	z-index: 2;
	position: relative;
	height: 1.6em;
}

.contentActions ul,
.contentActions li {
	margin: 0;
	list-style: none;
	list-style-image: none;
	color: Black;
	text-align: left;
	line-height: 1.6em;
}

.contentActions li {
	float: right;
	z-index: 4;
	border-left: 1px solid #74ae0b;
}

.contentActions a {
	text-decoration: none;
	color: White;
	padding: 0 0.5em;
	cursor: pointer;
}

.contentActions span.subMenuTitle {
	padding: 0em 0.5em;
	position: relative;
	white-space: nowrap;
	display: inline;
}

.contentActions a span.subMenuTitle {
	padding: 0;
	display: inline;
}

.actionMenu {
	

/* 

The spec says we can't put this on an element with a float (although
        Opera is the only one that cares) and we need it in order to catch
        the position:absolute bubbling up */

    position: relative;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.actionMenu .actionMenuHeader {
	margin: 0;
	padding: 0;
}

.actionMenu.activated .actionMenuHeader {
	position: relative;
	z-index: 10;
}

.actionMenu .actionMenuHeader a {
	display: block;
	color: White;
	padding: 0.5em 0.5em;
}

.arrowDownAlternative {
	font-size: 0.85em;
}

.actionMenu .actionMenuContent {
	display: none;
	z-index: 5;
	position: absolute;
	top: 1.5em;
	right: 0;
	height: auto;
	padding: 0;
	margin: 0;
}

.actionMenu.activated .actionMenuContent {
	display: block !important;
}

.actionMenu.activated .actionMenuContent {
	

/* 

this one will be ignored by IE, it is here to fix the cut-off error in
       Firefox */
    display: table !important;
	border-collapse: collapse;
	border-spacing: 0;
}

.actionMenu.deactivated .actionMenuContent {
	display: none !important;
}

.actionMenu .actionMenuContent ul {
	display: block;
	background: #75ad0a;
	color: White;
	margin: 0.5em 0 0 0;
	border: 3px solid #74ae0b;
}

.actionMenu .actionMenuContent li {
	float: none;
	display: inline;
}

.actionMenu .actionMenuContent li a {
	display: block;
	white-space: nowrap;
	background-color: #74ae0b;
	color: White;
	padding: 0.5em;
}

.actionMenu .actionMenuContent .selected {
	display: block;
	white-space: nowrap;
	padding: 0 0.5em;
	margin: 0.2em 0;
}

.actionMenu .actionMenuContent li a:hover {
	background-color: White;
	color: #75ad0a !important;
}

.actionMenu .actionMenuContent .actionSeparator a {
	padding-top: 0.2em;
	border-top: 1px solid #74ae0b;
}

#templateMenu li a {
	padding-left: 16px;
}

dl.actionMenu {
	float: right;
}

/* @end */

/* @group Control panel */

ul.configlets {
	margin: 1em 0;
	list-style-image: none;
	list-style: none;
}

.configlet .contentViews {
	font-size: 90%;
}

ul.configlets li {
	margin-bottom: 1em;
}

ul.configlets li a {
	text-decoration: none;
	border: none;
}

ul.configlets li a:visited {
	color: #436976;
	background-color: transparent;
}

ul.configlets li a:active {
	color: #436976;
	background-color: transparent;
}

ul.configlets li label {
	font-weight: bold;
}

ul.configletDetails {
	margin: 0em 1em 1em 4em;
	list-style-image: none;
	list-style: none;
}

ul.configletDetails li {
	margin-bottom: 1em;
	display: inline;
}

ul.configletDetails li a {
	text-decoration: none;
}

ul.configletDetails li label {
	font-weight: bold;
}

ul.configletDetails li.configletDescription {
	display: block;
	color: #76797c;
	font-size: 90%;
	margin: 0;
}

.inlineDisplay {
	display: inline;
}

table.controlpanel-listing {
	width: 100%;
}

table.controlpanel-listing td, table.controlpanel-listing th {
	font-size: 120%;
}

table.controlpanel-listing dl {
	margin-top: 0;
}

table.controlpanel-listing dd {
	margin-left: 1em;
}

table.controlpanel-listing dl dt a .trigger {
	font-weight: normal;
}

table .controlpanel-listing td {
	vertical-align: top;
}

table.controlpanel-listing td.checker {
	text-align: center;
}

table.controlpanel-listing th.smallcolumn {
	width: 1.5em;
}

.chooser-right {
	float: right;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
}

.rule-element {
	background-color: #EEF3F5;
	margin: 0.5em 0pt 0.5em;
	padding: 0.3em 1em 0.3em 1em;
	width: auto;
}

.rule-element dl {
	
}

.rule-element dl dd {
	margin-left: 1em;
}

.rule-updown, .rule-operations {
	float: right;
	padding-top: 0.8em;
}

/* @end */

/* @group Collapsible */

dl.collapsible {
	border: 1px solid #8cacbb !important;
	margin: 1em 0 0 0;
	padding: 0;
}

dl.collapsible dt.collapsibleHeader {
	display: block;
	float: left;
	background: White;
	line-height: 1.2em;
	vertical-align: middle;
	font-size: 90%;
	position: relative;
	top: -0.6em;
	width: auto;
	margin: 0 0 -0.6em 1em;
	padding: 0 0.5em;
}

dl.collapsible dd.collapsibleContent {
	margin: 0;
	padding: 0 1em;
	clear: left;
}

/* for IE the following isn't needed, that's why the css2 selector is used */

dl.collapsible dd.collapsibleContent > dl {
	margin: 0;
	padding: 0;
}

dl.expandedInlineCollapsible dt.collapsibleHeader,
dl.expandedBlockCollapsible dt.collapsibleHeader {
	padding: 0 6px 0 22px;
	background: White url(treeExpanded.png) no-repeat 6px 50%;
	cursor: pointer;
}

dl.collapsedBlockCollapsible {
	border: none !important;
	height: 1em;
	width: auto;
}

dl.collapsedBlockCollapsible dt.collapsibleHeader {
	float: none;
	position: static;
	margin: 0;
	padding: 0 0 0 22px;
	line-height: 1em;
	cursor: pointer;
}

dl.collapsedInlineCollapsible dd.collapsibleContent,
dl.collapsedBlockCollapsible dd.collapsibleContent {
	display: none;
}

dl.collapsedInlineCollapsible {
	border: none !important;
	height: 1em;
	width: auto;
	display: inline;
}

dl.collapsedInlineCollapsible dt.collapsibleHeader {
	position: static;
	float: none;
	margin: 0;
	padding: 0 0 0 22px;
	line-height: 1em;
	cursor: pointer;
	display: inline;
}

/* @end */

/* @group Comments */

.comment {
	border: 1px solid #eee;
	background-color: #f6f6f6;
	padding: 0.25em 1em 1em 1em;
	margin-bottom: 1em;
}

.comment h1,
.comment h2,
.comment h3,
.comment h4, 
.comment h5,
.comment h6 {
	border-bottom: 1px solid #76797c;
	font-weight: normal;
}

.commentBody {
	font-size: 13px;
}

/* @end */

/* Additional STX workaround classes */

.stx table p {
	margin: 0;
	padding: 0;
}

.stx table {
	border: 1px solid #8cacbb ! important;
}

.stx table td {
	border-bottom: 1px solid #8cacbb;
}

.reviewHistory,
.contentHistory {
	display: inline;
	font-size: 110% !important;
	color: Black;
}

.spacer {
	margin: 1em;
}

.label {
	font-weight: bold;
	display: inline;
	padding-right: 0.5em;
}

.optionsToggle {
	border: 1px solid #8cacbb;
	color: Black;
	background-color: #dee7ec;
	font-weight: normal !important;
	font-size: 90%;
}

#portal-column-content fieldset > * input:focus,
#portal-column-content fieldset > * textarea:focus {
	border-color: #ffa500;
	border-width: 1px;
}

/* for highlighting of search terms */

.highlightedSearchTerm {
	background-color: #ffa;
	background-color: rgba(255,255,140,0.5);
}

dl.searchResults .highlightedSearchTerm {
	background-color: transparent;
	font-weight: bold;
}

/* for greying out inherited roles */

.noInheritedRoles {
	color: #a0a0a0;
}

/* for highlighting current items, like the language or today in the calendar */

.currentItem {
	border-collapse: collapse;
	border: 2px solid #ffa500;
	padding: 1px;
}

.managePortletsLink {
	display: block;
	color: #76797c;
	font-size: 90%;
	font-weight: normal;
}

/* @end */

/* @group Tabbed form fieldsets */

ul.formTabs {
	position: relative;
	display: block;
	list-style-type: none;
	text-align: center;
	background-color: #329fd7;
	border-top: 3px solid #329fd7;
	margin-left: 0 !important;
}

li.formTab {
	display: inline !important;
	margin: 0;
	padding: 0;
}

li.formTab a {
	

/* 

this isn't supported by all browsers, so we keep it in a separate rule */
    display: inline-block;
}

li.formTab a {
	background-color: #329fd7;
	color: White !important;
	padding: 0.125em 0.75em;
	text-decoration: none;
	border: none !important;
	font-weight: bold;
}

li.formTab a:visited {
	
}

li.firstFormTab a {
	
}

li.lastFormTab a {
	
}

li.formTab a.selected,
li.formTab a:hover {
	background: White;
	color: #329fd7 !important;
}

li.formTab a.notify {
	background-color: #ffce7b;
	color: Black;
}

li.formTab a.required span {
	background-image: url(/required.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 8px;
}

li.formTab a.notify:hover {
	background-color: #ffa500;
}

.formPanel {
	margin-top: -1.5em;
	border: 1px solid #8cacbb;
	padding-top: 1em;
}

.formPanel.hidden {
	display: none;
}

div.formControls input.hidden {
	display: none;
}

/* @end */

/* @group Forms */

div.formControls {
	margin-top: 1em;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
	background-color: #ffffe0;
}

#content textarea {
	font: 100% Monaco, "Courier New", Courier, monospace;
	width: 100%;
}

#content select {
	vertical-align: top;
}

#content fieldset {
	border: 1px solid #329fd7;
	border-style: solid none none none;
}

#content legend {
	padding: 0.5em 0.5em 0.5em 0;
	font-size: 90%;
}

label {
	font-weight: bold;
}

#content optgroup {
	font-style: normal;
	font-weight: bold;
	color: #999;
	padding-left: 0.25em;
}

#content option {
	color: black;
}

#content optgroup > option {
	padding: 0 0.25em 0 1em;
}

dl.enableFormTabbing dd {
	margin-left: 0;
	padding-top: 2em;
}

#content input.searchButton {
	
}

.searchSection {
	color: #76797c;
	margin-top: 0.25em;
}

.searchSection label:hover {
	color: Black;
}

.field {
	clear: both;
	margin-top: 1em;
}

.field input[type="text"] {
	width: 100%;
}

.fieldRequired {
	background: url(/required.gif) center left no-repeat;
	padding: 0 0 0 8px;
	color: White;
}

.fieldUploadFile {
	text-align: right;
	margin-right: 0.75em;
	display: none;
}

.fieldTextFormat {
	text-align: right;
	margin-right: 0.75em
}

.formHelp {
	font-size: 90%;
	color: #76797c;
	margin: 0 0 0.2em 0;
}

.formHelp:hover {
	color: Black;
	cursor: default;
}

div.error {
	background-color: #fdc;
	border: 1px solid #d00;
	padding: 0.5em;
	margin: 0 0 1em 0;
	width: 95%;
}

.error .fieldRequired {
	color: #d00;
}

input.inputLabelActive {
	color: #76797c;
}

textarea#form\.description {
	height: 6em;
	width: 99%;
}

tr.selected {
	background-color: #ffa;
}

/* @group Login form */

#login-form input {
	font-size: 150%;
	width: inherit;
}

body.template-join_form #content input {
	font-size: 150%;
	width: inherit;
}

#login_form label {
	display: inline-block;
	width: 7em;
}

/* @end */

#user #login-link {
    padding-right: 13px;
    background: url('login_arrow.png') no-repeat right 8px;
}

#login-popup {
    position: absolute;
    padding: 15px;
    width: 195px;
    z-index: 9;
    background-color: #ffffff;
    border-color: #e6e6e6;
    border-width: 0 1px 1px;
    border-style: solid;
    margin: 1px 0 0 -167px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    line-height: 15px;
    display: none;
}

#login-popup .loginText {
    font-weight: bold;
    font-size: 14px;
}

#login-popup .form {
    background-color: #fffbe7;
    border: 1px solid #edeee8;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 5px 5px;
    margin: 10px 0;
}

#login-popup .form input {
    width: 95%;
    padding: 3px;
    border: 1px solid #bebec0;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#login-popup .form input[type="text"]:focus,
#login-popup .form input[type="password"]:focus {
    background-color: #ffffff;
}

#login-popup .form label {
    font-size: 10px;
    line-height: 16px;
    font-weight: normal;
    color: #666666;
    display: block;
    padding-top: 5px;
}

#login-popup .form a {
    font-size: #000000;
    display: block;
    text-align: right;
    text-decoration: underline;
    font-size: 10px;
    line-height: 15px;
}

#login-popup .context {
    width: 100%;
    color: #ffffff;
    background: url(login_btn.png) no-repeat;
    border: none;
    padding: 6px 0 5px;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

#login-popup .createText {
    font-weight: bold;
    font-size: 11px;
}

#login-popup .createText a {
    color: #305476;
}

/* @end */

/* @group Table of Contents */

/*Table of Contents styling - essentially a portlet with smaller fonts and aligned right + limited in width*/

dl.toc {
	float: right;
	width: 35%;
	font-size: 11px !important;
	margin: 0 0 0.5em 1.5em;
	border-left: 1px solid #666;
}

dl.toc dt {
	margin-left: 3em;
	font-weight: normal;
	text-transform: uppercase;
}

dl.toc dd {
	margin-bottom: 0 !important;
}

dl.toc dd ol {
	margin-left: 1.5em !important;
}

/* @end */

/* @group Footer */

#footer-wrapper {
	/* Sticky footer */
    height: 16em;
	background: #329fd7;
}

#footer-gradient {
	background: top left url(//plone.org/images/sprite-ploneorg.png) repeat-x;
	height: 7px;
}

#push {
	/* Sticky footer */
	height: 16em;
}

#footer {
	color: White;
	font-family: "Lucida Grande", Verdana, FreeSans, sans-serif;
	margin: 0 auto;
	padding: 1em 0;
	width: 800px;
}

#footer p {
	font-size: 0.7em;
}

#footer p a {
	color: White;
}

#footer p a:hover {
	color: #329fd7;
	background-color: White;
}

#footer-logo {
	float: left;
	background-image: url(//plone.org/images/sprite-ploneorg.png);
	background-position: 0 -376px;
	width: 114px;
	height: 44px;
	border-right: 1px solid white;
	margin: 0 1em 0 0.5em;
}

#sitemap {
	width: 100%;
	clear: both;
	padding-top: 1em;
}

#sitemap dl {
	font-family: "Lucida Grande", Verdana, FreeSans, sans-serif;
	color: White;
	display: inline-block;
	vertical-align: top;
	width: 20%;
/*

IE:   width: 16.3%;*/


/*

IE:   float: left;*/
}

#sitemap dl a {
	font-size: 0.7em;
	color: White;
	display: block;
	padding: 0.25em 6px;
}

#sitemap dl a:hover {
	color: #329fd7;
	background-color: White;
}

#sitemap dl dt a {
	font-size: 0.75em;
}

/* @end */

/* @group Visual editor */

.kupu-save-message {
	color: white;
	font-weight: bold;
	background-color: red;
	padding: 0.3em;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
}

#toolbar {
	background-color: White;
	width: auto;
	border: none;
}

#toolbar button {
	border-color: White;
}

#kupu-editor-iframe-text {
	border: 1px solid Black;
}

#kupu-colorchooser {
	display: none;
}

/* @end */

/* @group Trac */

#prefs {
	float: right;
	width: 25em;
	border: 1px solid #eee;
	background-color: #f6f6f6;
	padding: 1em;
	font-size: 13px;
	margin: 0 0 1em 1em;
}

#prefs .field {
	display: block;
	margin: 0;
}

#prefs .field input {
	width: auto;
	margin: 0 0.5em;
}

#prefs label {
	font-weight: normal;
}

#prefs fieldset label {
	font-weight: bold;
}

#ticket {
	border: 1px solid #eee;
	background-color: #f6f6f6;
	padding: 1em;
	margin-top: 1em;
}

#ticket h2 {
	margin-top: 0;
}

#ticket .date {
	float: right;
}

#ticket .date p {
	color: #666;
	font-size: 11px;
	margin: 0;
}

#ticket table.properties {
	border-top: 1px solid #eee;
	width: 60%;
}

dt .time {
	font-size: 11px;
	color: #666;
}

dd.files span.comment {
	border: none;
	background: none;
	padding: 0 1em;
}

#overview dt.property {
	position: inherit !important;
}

#dirlist td.name a,
#dirlist td.rev a,
td.summary a {
	display: block;
}

#help {
	display: none;
}

table.progress {
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 0;
	float: left;
	empty-cells: show;
	width: 55% !important;
}

table.progress a, table.progress :link, table.progress :visited,
table.progress :link:hover, table.progress :visited:hover {
	border: none !important;
	display: block;
	width: 100%;
	height: 1.2em;
	text-decoration: none;
}

table.progress td {
	background: #fff;
	padding: 0;
}

table.progress td.closed {
	background: #75ad0a;
}

table.progress td :hover {
	background: none;
}

p.percent {
	font-size: 10px;
	line-height: 2.4em;
	margin: .9em 0 0;
}

#content ul.milestones li {
	list-style: none;
}

#content ul.milestones .info dt {
	display: inline;
	margin: 0;
}

#content ul.milestones .info dd {
	display: inline;
	margin: 0 .5em;
}

#content ul.milestones p.date {
	font-size: 11px;
	color: #666;
}

#content div.diff li.entry {
	border: 1px solid #eee;
	background-color: #f6f6f6;
}

#content div.diff ul.entries {
	margin: 0;
}

/* @end */

/* @group Invisibles */

.hiddenStructure {
	display: none;
	background: transparent;
	background-image: none;
	

/* safari bug */
    border: none;
	height: 1px;
	overflow: hidden;
	padding: 0;
	margin: -1px 0 0 -1px;
	width: 1px;
}

.visualClear {
	clear: both;
}

/* @end */