#content h1 {
	max-width: 60%;
}

#legend, div.buttons {
	clear: both;
}
div.buttons form {
	float: left;
}

#ctxtnav {
	font: bold 13px/30px "Helvetica Neue", Arial, FreeSans;
	color: #666;
	position: absolute;
	right: 2em;
}

#ctxtnav li a,
#ctxtnav li a:visited {
	padding: 0.4em 0.6em;
	color: #666;
	font-weight: bold;
	white-space: nowrap;
}

#ctxtnav li a:hover {
	color: #75ad0a;
}

#ctxtnav li.selected a,
#ctxtnav li.active a {
	color: #75ad0a;
	padding: 6px 8px 5px;
}

.wiki-toc {
    float: right;
    width: 10em;
    border: 1px solid #d7d7d7;
    padding: 1em;
    margin: 0 0 1em 1em;
}

div.inlinebuttons { float: right;}

a.closed:link, a.closed:visited { text-decoration: line-through }

#batchmod-form { clear: both; margin-top: 2em; }

/* Collapsible query headers */

#query fieldset.collapsed table, 
#query fieldset.collapsed div {
    display:none;
}

#query fieldset.collapsed legend.foldable a:before {
content:"▶ ";
color: #329FD7;
}

#query fieldset legend.foldable a:before {
content:"▼ ";
color: #329FD7;
}
#query fieldset legend.foldable a {
border: none;
color: black;
}

#prefs label {
	margin-left:0.5em;
}

table.progress {
	margin-right: 0.25em
}

/* Copied from trac.css */

/* Heading anchors */
.anchor:link, .anchor:visited {
 border: none;
 color: #d7d7d7;
 font-size: .8em;
 vertical-align: text-top;
}
* > .anchor:link, * > .anchor:visited {
 visibility: hidden;
}
h1:hover .anchor, h2:hover .anchor, h3:hover .anchor,
h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
 visibility: visible;
}

/* Wiki toolbar */
.wikitoolbar {
 border: solid #d7d7d7;
 border-width: 1px 1px 1px 0;
 height: 18px;
 width: 208px;
}
.wikitoolbar :link, .wikitoolbar :visited {
 background: transparent url(/plone/chrome/common/edit_toolbar.png) no-repeat;
 border: 1px solid #fff;
 border-left-color: #d7d7d7;
 cursor: default;
 display: block;
 float: left;
 width: 24px;
 height: 16px;
}
.wikitoolbar :link:hover, .wikitoolbar :visited:hover {
 background-color: transparent;
 border: 1px solid #fb2;
}
.wikitoolbar a#em { background-position: 0 0 }
.wikitoolbar a#strong { background-position: 0 -16px }
.wikitoolbar a#heading { background-position: 0 -32px }
.wikitoolbar a#link { background-position: 0 -48px }
.wikitoolbar a#code { background-position: 0 -64px }
.wikitoolbar a#hr { background-position: 0 -80px }
.wikitoolbar a#np { background-position: 0 -96px }
.wikitoolbar a#br { background-position: 0 -112px }

/* Roadmap */
.milestone .description dl.wiki dt { 
    float: left;
    margin-left: 1em;
    padding-right: .8em;
}

td.change .author { color: #888 }

/* Ticket priorities */

.prio5 td:first-child,.color5-even td:first-child,.color5-odd td:first-child
{
 border-left: 6px solid lightblue;
}

.prio4 td:first-child,.color4-even td:first-child,.color4-odd td:first-child
{
 border-left: 6px solid lightgreen;
}

.prio3 td:first-child,.color3-even td:first-child,.color3-odd td:first-child
{
 border-left: 6px solid gold;
}

.prio2 td:first-child,.color2-even td:first-child,.color2-odd td:first-child
{
 border-left: 6px solid lightsalmon;
}

.prio1 td:first-child,.color1-even td:first-child,.color1-odd td:first-child
{
 border-left: 6px solid red;
}


/* Workarounds for Trac defaults that interfere */

#dirlist td.name a, #dirlist td.rev a, td.summary a {
  display: inline-block !important; /* Fix double-height entries */
}

#user li.first {
  color: #666;
  font-weight:bold;
}